<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My pickup calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-pickup-call-card status="hold" updateAt="26/08/2024 18:21" createdAt="24/08/2024"
   notes="HOMESTAY KONDYANG"></app-pickup-call-card>

   <app-pickup-call-card status="processing" updateAt="27/08/2024 18:21" createdAt="25/08/2024"
    notes="Murah Meriah"></app-pickup-call-card>

    <app-pickup-call-card status="Finished" updateAt="27/08/2024 18:21" createdAt="24/08/2024" value="$ 20,00"></app-pickup-call-card>
</ion-content>
